@import './base.css';


#app {
  font-weight: normal;
}

@font-face {
  font-family: 'naston-regular';
  src: url('~/assets/naston-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nirequa';
  src: url('~/assets/Nirequa.otf') format('opentype');
}


body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  font-family: "Nirequa";
}

h1 {
  padding: 0 48px;
  width: 100%;
  font-size: 3rem;
}

h2 {
  padding: 0 10px;
    font-size: 17px;
}

h3 {
  padding: 0px 20px 0 20px;
  color: var(--color-title);
  text-align: left;
  font-size: 17px;
}

.main-two h5 {
  margin: 0px 10px 20px;
  text-align: center;
}

p {
  font-family: 'naston-regular';
  padding: 0 20px;
  color: var(--color-text);
  text-align: left;
  font-size: 15px;
}

hr{
  margin: 120px 0;
    width: 100%;
    height: 4px;
    background: rgba(163, 169, 177, .15);
    margin: 20px 0 64px 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
}

a,
.green {
  text-decoration: none;
  color: #333333;
  transition: 0.4s;
}

.anima {
  animation-direction: top;
  animation: opacityAnimation 1s;
}


@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes lightOnAnimation {
  0% {
    color: #85ebd9;
  }

  50% {
    color: var(--color-text);
  }

  100% {
    color: hsla(160, 100%, 37%, 1);
  }
}

.lightOnAnimationOne {
  animation-direction: left;
  animation: 2s infinite lightOnAnimation;
  animation-delay: 8s;
}

.logoAnimationOne {
  animation-direction: top;
  animation: opacityAnimation 2s;
}

.logoAnimationTwo {
  animation-direction: top;
  animation: opacityAnimation 4s;
}

.logoAnimationTree {
  animation-direction: top;
  animation: opacityAnimation 6s;
}

.logoAnimationFour {
  animation-direction: top;
  animation: opacityAnimation 8s;
}

.logoAnimationFive {
  animation: opacityAnimation 10s;
}

.logoAnimationSix {
  animation-direction: top;
  animation: opacityAnimation 12s;
}

.logoAnimationSeven {
  animation-direction: top;
  animation: opacityAnimation 12s;
}

.logoAnimationSevenTwo {
  animation-direction: top;
  animation: opacityAnimation 40s;
}

.lightOnAnimationSeven {
  animation-direction: left;
  animation: 3s infinite lightOnAnimation;
  animation-delay: 5s;
}

.homeAnimation {
  animation-direction: top;
  animation: opacityAnimation 5s;
}
